@model BookViewModel

@{
    ViewData["Title"] = "Details";
}

<section class="rounded-3 m-5">
    <div class="d-flex align-items-center justify-content-lg-around bg-light rounded-3 m-5">
        <img class="card-img-top w-25 rounded-3" src="~/imges/@Model.ImageUrl" alt="Card image">
        <div class="card-body position-relative text-black">
            <h4 class="card-title">@Model.Title</h4>
            <p class="card-text">@Model.Description</p>
            <p class="card-text text-info">@Model.Category?.Name</p>
            <p><i class="fa-solid fa-dollar-sign"></i> @Model.Price</p>

            @if (User.IsInRole("Customer"))
            {
                <form asp-action="AddToCart" asp-controller="CartController1" method="post">
                    <input type="hidden" name="productId" value="@Model.Id" /> <!-- Pass the book ID -->
                    <input type="number" class="form-control w-50 mb-3" name="quantity" value="1" min="1" /> <!-- Allow user to specify quantity -->
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-cart-shopping"></i> Add To Cart
                    </button>
                </form>
            }

            @if (User.IsInRole("Admin"))
            {
                <a class="btn m-1" href="/Book/Edit?id=@Model.Id"><i class="fa-solid fa-pen"></i> Edit</a>
                <a class="btn m-1" href="/Book/Delete?id=@Model.Id"><i class="fa-solid text-danger fa-trash"></i> Delete</a>
            }
        </div>
    </div>
</section>
